In [2]:
%matplotlib inline
import pandas as pd
import sklearn
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

cust = pd.read_csv('custody_ML.csv')
shoot = pd.read_csv('shootings_ML.csv')

In [3]:
cust.head()

,Unnamed: 0,dept,custody_type,facility,race,sex,death_type,charge_status,age,year,month
0,0,389,2,134,4,1,5,0,58.0,2012,9
1,1,389,2,115,3,1,5,0,76.0,2016,9
2,2,175,1,0,4,1,6,2,30.0,2016,12
3,3,389,2,60,1,1,1,0,39.0,2011,11
4,4,389,2,77,1,1,5,0,31.0,2014,12

In [4]:
shoot.head()

,Unnamed: 0,age,number_officers,fatality,armed,race,sex,stop_reason,officer_race,dept,year,month
0,103,26.0,1.0,0,2,4,1,23,13,0,2010,9
1,104,16.0,1.0,0,2,2,1,13,40,0,2010,10
2,105,26.0,2.0,0,2,0,1,66,48,0,2010,11
3,106,35.0,1.0,0,0,4,1,86,5,0,2010,12
4,107,30.0,1.0,0,2,2,1,66,13,0,2011,5

In [7]:
cust.drop('Unnamed: 0', axis=1, inplace=True)

In [9]:
shoot.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
X_scaled = pd.DataFrame(StandardScaler().fit_transform(imp_feature),columns = X_col)
X_scaled.head()